.list {
  list-style: none;
  padding: 1em 0;
  display: flex;
}

.list > * + * {
  margin-left: 1rem;
}

.NavAnchor {
  text-decoration: underline 2px;
}

.NavAnchor:hover,
.NavAnchor:focus {
  text-decoration: underline dotted 2px;
}
